{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-md-offset-3 col-xs-12">
                <h1>Users</h1>
                <table class="table table-hover">
                    <thead>
                    <tr>
                        <th>Name</th>
                        <th>Membership</th>
                        <th>Actions</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for user in users %}
                        <tr>
                            <td><a href="{{ path('user_edit', { 'id': user.id }) }}">{{ user.name }}</a></td>
                            <td>
                                <ul>
                                    {% for usergroup in user.usergroups  %}
                                        <li>{{ usergroup.title }}</li>
                                    {% endfor %}
                                </ul>
                            </td>
                            <td>
                                <a class="btn btn-default" href="{{ path('user_edit', { 'id': user.id }) }}">edit</a>
                                <a class="btn btn-danger" href="{{ path('user_delete', { 'id': user.id }) }}" data-method="DELETE" data-token="{{ csrf_token(user.id) }}">delete</a>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
                <p><a class="btn btn-primary" href="{{ path('user_new') }}">Create a new user</a></p>
            </div>
        </div>

        <div class="row">
            <div class="col-md-6 col-md-offset-3 col-xs-12">
                <h1>Groups</h1>
                <table class="table table-hover">
                    <thead>
                    <tr>
                        <th>Title</th>
                        <th>Actions</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for group in groups %}
                        <tr>
                            <td><a href="{{ path('group_edit', { 'id': group.id }) }}">{{ group.title }}</a></td>
                            <td>
                                <a class="btn btn-default" href="{{ path('group_edit', { 'id': group.id }) }}">edit</a>
                                <a class="btn btn-danger" href="{{ path('group_delete', { 'id': group.id }) }}" data-method="DELETE" data-token="{{ csrf_token(group.id) }}">delete</a>
                                <span class="alert alert-danger" style="display:none;">
                                    <strong>Success!</strong>
                                </span>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>
                <p><a class="btn btn-primary" href="{{ path('group_new') }}">Create a new group</a></p>
            </div>
        </div>

        <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="myModalLabel">Denied</h4>
                    </div>
                    <div class="modal-body">
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>

    </div>
{% endblock %}
